setup.wizard.enabled=false

liferay.home={{liferay_home_dir}}

jdbc.default.driverClassName=com.mysql.jdbc.Driver
jdbc.default.url=jdbc:mysql://localhost/{{mysql_database_name}}?useUnicode=true&characterEncoding=UTF-8&useFastDateParsing=false
jdbc.default.username={{mysql_database_user}}
jdbc.default.password={{mysql_database_password}}

auto.deploy.deploy.dir={{liferay_autodeploy_dir}}
